<div class="max-w-4xl p-4 mx-auto">
  <h1 class="mb-4 text-2xl font-semibold">Search for Articles</h1>
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to 'View Search Analytics', analytics_articles_path, class: "text-blue-500 hover:underline block my-4" %>
  <% end %>

  <input type="text" id="search-box" placeholder="Search..." class="w-full p-2 mb-4 border border-gray-300 rounded-md" />

  <div class="flex gap-2">
    <div id="search-results">
      <% @articles.each do |article| %>
        <div class="px-2 py-4 mb-4 bg-white border-b rounded-md shadow-lg">
          <h2 class="mb-2 text-lg font-semibold"><%= article.title %></h2>
          <p class="text-gray-600"><%= article.content %></p>
        </div>
      <% end %>
    </div>

    <div class="p-4">
      <h2 class="mb-4 text-lg font-semibold">Trending Searches</h2>
      <ul id="trending-searches-list"></ul>
    </div>
  </div>
</div>

<script type="module">
  let debounceTimeout;

  document.getElementById('search-box').addEventListener('keyup', function () {
    clearTimeout(debounceTimeout);
    document.getElementById('search-results').innerHTML = '';
    debounceTimeout = setTimeout(sendSearchRequest, 500);
  });

  function sendSearchRequest() {
    const query = document.getElementById('search-box').value;

    fetch('/articles/search', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRF-Token': document.querySelector('[name="csrf-token"]').content
      },
      body: JSON.stringify({ query: query })
    })
      .then((response) => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then((data) => {
        const resultsDiv = document.getElementById('search-results');
        let resultsHTML = '';
        data.articles.forEach((article) => {
          resultsHTML += `<div class="mb-4">
            <h2 class="text-lg font-semibold">${article.title}</h2>
            <p class="text-gray-600">${article.content}</p>
          </div>`;
        });
        resultsDiv.innerHTML = resultsHTML;
      })
      .catch((error) => {
        console.log('There was a problem with the fetch operation:', error.message);
        alert('There was an issue fetching the search results. Please try again later.');
      });
  }

  document.addEventListener("DOMContentLoaded", function() {
  fetchTrendingSearches();
});

function fetchTrendingSearches() {
  fetch('/articles/trending_searches')
    .then(response => response.json())
    .then(data => {
      const trendingList = document.getElementById('trending-searches-list');
      let trendingHTML = '';
      data.trending.forEach((query) => {
        trendingHTML += `
          <div class="px-2 py-4 mb-4 bg-white border-b rounded-md shadow-lg">
            <h2 class="mb-2 text-lg font-semibold">${query}</h2>
          </div>`;
      });
      trendingList.innerHTML = trendingHTML;
    })
    .catch(error => {
      console.log('There was a problem fetching the trending searches:', error.message);
    });
}

fetchTrendingSearches();
</script>
